/** From Metronic material design3 {{{ **/
/** }}} **/
/* Plugins */
@import '/assets/plugins/select2/select2.min.css';
@import '/assets/plugins/jquery.uniform/css/uniform.default.min.css';
@import '/assets/plugins/bootstrap-fileinput/bootstrap-fileinput.css';
.gray-stars {
  font-size: 18px;
  float: left;
  position: relative;
  overflow: hidden;
}
.gray-stars > i {
  color: #ccc;
}
.gray-stars .red-stars {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  white-space: nowrap;
}
.gray-stars .red-stars i {
  color: #ffc501;
}
.gray-stars i {
  margin: 0 2px;
  display: inline-block;
}
.star-marks-overlay {
  visibility: hidden;
  display: inline-block;
}
.star-marks {
  position: absolute;
  top: 0px;
  left: 0px;
}
.job-interviews-page .title-section .title i {
  margin-left: 10px;
}
.job-interviews-page .tab-section {
  margin-left: -15px;
  margin-right: -15px;
}
.job-interviews-page .tab-section .nav-tabs {
  padding-left: 25px;
}
.job-interviews-page .proposals-section.shortlisted .proposal-item:not(.liked) {
  display: none;
}
.job-interviews-page .proposals-section .proposal-item {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  /*border:1px solid @border-color;*/
}
.job-interviews-page .proposals-section .proposal-item.featured .box-bid .sub-title {
  background-color: #b863c6;
  color: #fff;
}
.job-interviews-page .proposals-section .proposal-item.user-item:hover {
  background: transparent;
}
.job-interviews-page .proposals-section .proposal-item .user-avatar {
  padding-top: 0px;
  width: 100px;
}
.job-interviews-page .proposals-section .proposal-item .user-avatar img {
  width: 100%;
  height: auto;
}
.job-interviews-page .proposals-section .proposal-item .user-info {
  width: calc(100% - 420px);
}
.job-interviews-page .proposals-section .proposal-item .user-info .name .label {
  font-size: 12px;
  font-weight: 400;
  float: right;
  font-style: italic;
  margin-left: 5px;
}
.job-interviews-page .proposals-section .proposal-item .user-info .hours {
  margin: 0px;
}
.job-interviews-page .proposals-section .proposal-item .user-info .earned {
  margin-top: 30px;
}
.job-interviews-page .proposals-section .proposal-item .user-info .profile-success-percent {
  margin-top: 25px;
  width: 72%;
}
.job-interviews-page .proposals-section .proposal-item .user-info .country,
.job-interviews-page .proposals-section .proposal-item .user-info .hours,
.job-interviews-page .proposals-section .proposal-item .user-info .profile-success-percent {
  display: inline-block;
}
.job-interviews-page .proposals-section .proposal-item .user-info .ago {
  font-size: 13px;
}
.job-interviews-page .proposals-section .proposal-item .user-info span.suspended {
  margin-left: 5px;
  color: #e74d44;
}
.job-interviews-page .proposals-section .proposal-item .user-cover-letter .heading {
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 16px;
}
.job-interviews-page .proposals-section .proposal-item .user-cover-letter .letter {
  word-break: break-all;
}
.job-interviews-page .proposals-section .proposal-item .user-cover-letter .more-link {
  color: #297acc;
  margin-left: 10px;
  cursor: pointer;
}
.job-interviews-page .proposals-section .proposal-item .user-cover-letter .less-link {
  color: #297acc;
  margin-left: 10px;
  cursor: pointer;
  display: none;
}
.job-interviews-page .proposals-section .proposal-item .user-cover-letter .more-text {
  display: none;
}
.job-interviews-page .proposals-section .proposal-item .user-cover-letter .files {
  margin-top: 10px;
}
.job-interviews-page .proposals-section .proposal-item .user-cover-letter.expanded .more-link {
  display: none;
}
.job-interviews-page .proposals-section .proposal-item .user-cover-letter.expanded .more-text {
  display: inline;
}
.job-interviews-page .proposals-section .proposal-item .user-cover-letter.expanded .less-link {
  display: inline;
}
.job-interviews-page .proposals-section .proposal-item .user-proposal-price {
  font-weight: 700;
}
.job-interviews-page .proposals-section .proposal-item .user-proposal-price .heading {
  font-weight: 500;
  margin-left: 10px;
}
.job-interviews-page .proposals-section .proposal-item .user-proposal-price .heading:first-child {
  margin-left: 0;
}
.job-interviews-page .proposals-section .proposal-item .user-action {
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
}
.job-interviews-page .proposals-section .proposal-item .user-action .qualification .tooltip {
  width: 200px;
}
.job-interviews-page .proposals-section .proposal-item .user-action .qualification .tooltip .tooltip-inner {
  text-align: left;
}
.job-interviews-page .proposals-section .proposal-item .user-action .btn-top {
  margin-bottom: 20px;
}
.job-interviews-page .proposals-section .proposal-item .user-action .btn-top .btn {
  padding: 3px 7px;
  border-radius: 50%;
  box-shadow: 0 0px 3px rgba(72, 79, 99, 0.3);
  background-color: transparent;
  margin-left: 5px;
  font-size: 16px;
  color: #333333;
  outline: none;
}
.job-interviews-page .proposals-section .proposal-item .user-action .btn-top .btn.btn-like {
  border: none;
  box-shadow: none;
  color: #4e9ef0;
  margin-left: 0;
  font-size: 20px;
}
.job-interviews-page .proposals-section .proposal-item .user-action .btn-top .btn.btn-like.like {
  color: #9e9e9e;
}
.job-interviews-page .proposals-section .proposal-item .user-action .btn-top .btn.btn-like.like i.fa-heart {
  display: none;
}
.job-interviews-page .proposals-section .proposal-item .user-action .btn-top .btn.btn-like.dislike {
  color: #72c02c;
}
.job-interviews-page .proposals-section .proposal-item .user-action .btn-top .btn.btn-like.dislike i.fa-heart-o {
  display: none;
}
.job-interviews-page .proposals-section .proposal-item .user-action .btn-top .btn.btn-unarchive {
  color: #9e9e9e;
}
.job-interviews-page .proposals-section .proposal-item .user-action .btn-top .btn.disabled {
  color: #9e9e9e;
}
.job-interviews-page .proposals-section .proposal-item .user-action .btn-wrap {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.job-interviews-page .proposals-section .proposal-item .user-action .btn-wrap .btn {
  padding-left: 5px;
  padding-right: 5px;
  display: block;
}
.job-interviews-page .proposals-section .proposal-item .user-action .box-decline {
  width: 300px;
  display: none;
  position: absolute;
  top: -115px;
  right: 65px;
  background-color: #fff;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
  z-index: 100;
  text-align: left;
  padding: 15px;
}
.job-interviews-page .proposals-section .proposal-item .user-action .box-decline:before {
  position: absolute;
  top: 120px;
  right: -16px;
  display: inline-block !important;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #e0e0e0;
  content: '';
}
.job-interviews-page .proposals-section .proposal-item .user-action .box-decline:after {
  position: absolute;
  top: 120px;
  right: -14px;
  display: inline-block !important;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
  content: '';
}
.job-interviews-page .proposals-section .proposal-item .user-action .box-decline .box-title {
  font-weight: 700;
  margin-bottom: 10px;
}
.job-interviews-page .proposals-section .proposal-item .user-action .box-decline .box-user-info {
  margin-top: 10px;
  margin-bottom: 10px;
}
.job-interviews-page .proposals-section .proposal-item .user-action .box-decline .box-user-info .info span {
  display: block;
}
.job-interviews-page .proposals-section .proposal-item .user-action .box-decline .box-message {
  position: relative;
}
.job-interviews-page .proposals-section .proposal-item .user-action .box-decline .box-message .box-ctrl {
  margin-bottom: 10px;
}
.job-interviews-page .proposals-section .proposal-item .user-action .box-decline .box-message .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  opacity: 0.5;
  z-index: 10;
}
.job-interviews-page .proposals-section .proposal-item .user-action .box-decline .box-message label {
  font-size: inherit;
}
.job-interviews-page .proposals-section .proposal-item .user-action .box-decline .box-message textarea {
  height: 50px;
}
.job-interviews-page .proposals-section .proposal-item .user-action .declined-reason {
  padding-top: 10px;
}
.job-interviews-page #modalJobTerm .alert {
  margin: 20px auto;
  width: 720px;
  position: relative;
  padding-left: 50px;
}
.job-interviews-page #modalJobTerm .alert i {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 180%;
}
.job-interviews-page #modalJobTerm .alert p {
  color: #666;
  font-size: 14px;
}
.job-interviews-page #modalJobTerm ul {
  margin: 0 0 0 5px;
  padding: 0;
}
.job-interviews-page #modalJobTerm ul li {
  list-style-type: none;
}
.job-interviews-page #messagesModal .modal-header label {
  text-transform: capitalize;
  font-size: 28px;
  display: block;
  text-align: center;
  padding-top: 5px;
}
.job-interviews-page #messagesModal .modal-header .user-info {
  font-weight: 700;
}
.job-interviews-page #messagesModal .modal-header .user-info .avatar {
  margin-right: 10px;
}
.job-interviews-page #messagesModal .modal-header .user-info h4 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 120%;
}
.job-interviews-page #messagesModal .modal-header .user-info span {
  display: block;
}
.job-interviews-page #messagesModal .modal-body .messages-list {
  height: 330px;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 10px;
}
.job-interviews-page #messagesModal .modal-body .messages-list .message-row {
  padding-right: 20px;
}
.job-interviews-page #messagesModal .modal-body .messages-list .message-row .avatar {
  padding-top: 10px;
}
.job-interviews-page #messagesModal .modal-body .messages-list .message-row .message {
  font-size: 14px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.job-interviews-page #messagesModal .modal-body .messages-list .message-row .message .user {
  font-weight: 700;
}
.job-interviews-page #messagesModal .modal-body .messages-list .message-row .message .text {
  padding-top: 3px;
  padding-bottom: 10px;
  line-height: 22px;
  margin-right: 10px;
}
.job-interviews-page #messagesModal .modal-body .messages-list .message-row .message .text .attachments {
  margin-top: 5px;
}
.job-interviews-page #messagesModal .modal-body .messages-list .message-row .message .text .attachments a {
  margin-right: 20px;
}
.job-interviews-page #messagesModal .modal-body .messages-list .message-row .message .time {
  text-align: right;
  font-weight: 400;
}
.job-interviews-page #messagesModal .modal-body .messages-list .message-row.received .message {
  background-color: rgba(244, 253, 165, 0.54);
  border: 1px solid #E7F39F;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.job-interviews-page #messagesModal .modal-body textarea {
  height: 120px;
}
.job-interviews-page #messagesModal .modal-body .characters-left {
  margin-top: 5px;
}
.job-interviews-page #messagesModal .box-message {
  position: relative;
}
.job-interviews-page #messagesModal .box-message .overlay {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.job-interviews-page #messagesModal .box-message .buttons {
  margin-top: 15px;
}
.job-interviews-page #messagesModal .box-message .attachments .file {
  padding: 5px 0 0 15px;
}
.job-interviews-page #messagesModal .box-message .attachments .file .link-delete {
  cursor: pointer;
}
.job-interviews-page #messagesModal .box-message .attachments .file .link-delete i {
  font-size: 16px;
}
.job-interviews-page .not-found-shortlist-result {
  padding-top: 120px;
  padding-bottom: 107px;
  display: none;
}
.job-interviews-page .not-found-shortlist-result .heading {
  font-size: 26px;
  padding-bottom: 10px;
}
.job-interviews-page .not-found-shortlist-result p {
  font-size: 14px;
}
.job-interviews-page textarea.form-control {
  resize: none;
  width: 100%;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.job-interviews-page input[type="file"].form-control {
  border: none;
}
@media (max-width: 736px) {
  .job-interviews-page .proposals-section .proposal-item .user-info {
    width: calc(100% - 150px);
    float: right;
  }
  .job-interviews-page .proposals-section .proposal-item .user-info .earned {
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .job-interviews-page .proposals-section .proposal-item .user-info .profile-success-percent {
    width: 58%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .job-interviews-page .proposals-section .proposal-item .user-info > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .job-interviews-page .proposals-section .proposal-item .user-info > .row > .col-sm-9 {
    padding-left: 0;
    padding-right: 0;
  }
  .job-interviews-page .proposals-section .proposal-item .user-info > .row > .col-sm-9 .row-1 {
    margin-left: 0;
    margin-right: 0;
  }
  .job-interviews-page .proposals-section .proposal-item .user-info > .row > .col-sm-9 .row-1 > .col-sm-4 {
    padding-left: 0;
    padding-right: 0;
  }
  .job-interviews-page .proposals-section .proposal-item .user-info > .row > .col-sm-3.pr-4 {
    padding-left: 0;
    padding-right: 0 !important;
  }
  .job-interviews-page .proposals-section .proposal-item .user-action {
    width: 130px;
    float: left;
    padding-left: 0;
    padding-right: 0;
    border-left: none !important;
    margin-top: 15px;
  }
  .job-interviews-page .proposals-section .proposal-item .user-action .btn-top {
    border-top: none !important;
  }
  .job-interviews-page .proposals-section .proposal-item .user-action .btn-wrap {
    border-bottom: none !important;
  }
  .job-interviews-page .proposals-section .proposal-item .user-action .btn-wrap .btn-hire {
    margin-bottom: 10px;
  }
  .job-interviews-page .proposals-section .proposal-item .user-action .box-decline:before {
    display: none !important;
  }
  .job-interviews-page .proposals-section .proposal-item .user-action .box-decline:after {
    display: none !important;
  }
}
.super-user-buyer-job-interview .page-content-section,
.super-job-interview .page-content-section {
  padding: 12px 0px 15px;
}
.super-user-buyer-job-interview .tab-section,
.super-job-interview .tab-section {
  margin: 0px;
}
.super-user-buyer-job-interview .job-top-section,
.super-job-interview .job-top-section,
.super-user-buyer-job-interview .job-info,
.super-job-interview .job-info,
.super-user-buyer-job-interview .job-action,
.super-job-interview .job-action {
  display: none;
}
.super-user-buyer-job-interview .job-interviews-page .tab-section .nav-tabs,
.super-job-interview .job-interviews-page .tab-section .nav-tabs {
  margin-bottom: 0px;
}
.super-user-buyer-job-interview .job-interviews-page .proposals-section .proposal-item .user-info,
.super-job-interview .job-interviews-page .proposals-section .proposal-item .user-info {
  width: 70%;
}
.super-user-buyer-job-interview .title-section,
.super-job-interview .title-section {
  padding: 0px 20px 20px 0px;
  font-size: 20px;
  color: #4DB3A2;
}
.super-user-buyer-job-interview .title-section .status-closed,
.super-job-interview .title-section .status-closed {
  font-size: 12px;
}
.super-user-buyer-job-interview .overview-section,
.super-job-interview .overview-section,
.super-user-buyer-job-interview .details-section,
.super-job-interview .details-section {
  padding: 15px 25px 0px;
}
.super-user-buyer-job-interview .shadow-box.job-interviews-page,
.super-job-interview .shadow-box.job-interviews-page {
  -moz-box-shadow: 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px;
  box-shadow: 0px 0px 0px;
}
.super-user-buyer-job-interview h4,
.super-job-interview h4 {
  font-size: 14px;
}
.super-user-buyer-job-interview .proposals-section .col-md-2,
.super-job-interview .proposals-section .col-md-2 {
  width: 25%;
}
.super-user-buyer-job-interview .proposals-section .col-md-7,
.super-job-interview .proposals-section .col-md-7 {
  width: 75%;
}
.super-user-buyer-job-interview .proposals-section .proposal-item .user-avatar img,
.super-job-interview .proposals-section .proposal-item .user-avatar img {
  margin-top: 10px;
}
.super-user-buyer-job-interview .proposals-filter .checkbox,
.super-job-interview .proposals-filter .checkbox {
  margin-top: 15px;
}
.super-user-buyer-job-interview .user-item .country img,
.super-job-interview .user-item .country img {
  margin-top: 3px;
  margin-right: 8px;
}
.super-job-interview .page-content-section {
  padding: 0px;
}
.super-job-interview .title-section {
  display: none;
}
.super-job-interview .overview-section,
.super-job-interview .details-section {
  padding: 0px;
}
.super-job-interview .page-breadcrumb {
  clear: both;
  padding: 15px 15px 15px 0px;
}
