/** From Metronic material design3 {{{ **/
/** }}} **/
/* Plugins */
@import '/assets/plugins/select2/select2.min.css';
@import '/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css';
#date_range {
  width: 260px;
  float: left;
  margin: 0px 2px;
}
.filter-section .contract-filter-section .dropdown-menu 4 .filter-item {
  padding: 5px 10px;
}
.filter-section .contract-filter-section .dropdown-menu .contract-filter {
  padding-left: 30px;
}
.filter-section .contract-filter-section .btn.selectpicker {
  padding-top: 6px;
  padding-bottom: 6px;
}
.filter-section .form-group {
  margin-bottom: 0px;
}
.filter-section .btn-filter {
  margin-left: 10px;
}
.report-mode-section {
  margin: 0px 0;
}
.report-mode-section .mode-item {
  display: inline-block;
  padding: 10px 20px;
  margin: 0px;
  background: #eee;
  cursor: pointer;
}
.report-mode-section .mode-item.active {
  background: #388cdc;
  color: white;
}
.timesheet-section {
  min-height: 300px;
}
@media (max-width: 736px) {
  .report-timesheet .report-mode-section .mode-item {
    margin-top: 15px;
  }
  .report-timesheet .report-timesheet-page {
    padding-bottom: 15px;
  }
  .report-timesheet .report-timesheet-page .contract-filter-section {
    margin-top: 15px;
  }
}
.super-user-buyer-timesheet .tab-pane {
  padding: 12px 20px 15px 20px;
}
.super-user-buyer-timesheet .page-breadcrumb.breadcrumb {
  padding: 8px 0px 20px;
}
.super-user-buyer-timesheet .report-mode-section {
  margin-top: 0px;
}
.super-user-buyer-timesheet .title-section {
  margin-bottom: 20px;
}
.super-user-buyer-timesheet span.title {
  padding: 10px 0px;
  min-height: 48px;
}
.super-user-buyer-timesheet span.title span {
  display: none;
}
.super-user-buyer-timesheet span.title span.admin-title.hide {
  display: block !important;
  font-size: 16px;
}
.super-user-buyer-timesheet .timesheet-section.table-scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  border: 0px;
}
.super-user-buyer-timesheet .timesheet-section.table-scrollable th {
  text-align: left;
}
.super-user-buyer-timesheet .timesheet-section.table-scrollable th.text-right {
  text-align: right;
}
