/** From Metronic material design3 {{{ **/
/** }}} **/
/* Plugins */
@import '/assets/plugins/select2/select2.min.css';
@import '/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css';
.balance {
  font-size: 18px;
  margin-top: 8px;
}
#date_range {
  width: 260px;
  float: left;
  margin: 0px 2px;
}
.prev-unit,
.next-unit {
  float: left;
  padding: 8px 10px;
  transition: all 0.3s linear;
}
.prev-unit:hover,
.next-unit:hover {
  text-decoration: none;
  background: #ddd;
}
.contract-filter-section .dropdown-menu .filter-item {
  padding: 5px 10px;
}
.contract-filter-section .dropdown-menu .contract-filter {
  padding-left: 30px;
}
.contract-filter-section .btn.selectpicker {
  padding-top: 6px;
  padding-bottom: 6px;
}
.transactions-section .table .tbody {
  background: #f5f5f5;
}
.transactions-section .table .tbody .tr.status-available .td {
  background: #f5f5f5;
}
.transactions-section .table .tbody .tr.status-done .td {
  background: #f5f5f5;
}
.transactions-section .table .tbody .tr.status-pending .td {
  background: #f5f5f5;
}
.transactions-section .table .tbody .tr.status-review .td {
  background: #f5f5f5;
}
.transactions-section .table .tbody .tr.status-cancelled .td {
  background: #f5f5f5;
}
.transactions-section .info {
  padding-left: 10px;
  padding-top: 5px;
}
.statement-section {
  margin-top: 50px;
}
.statement-section .statement-content {
  margin-top: 20px;
}
.statement-section .statement-content table {
  width: 100%;
}
.statement-section .statement-content table tr td {
  padding: 10px 8px;
  text-align: right;
  border-bottom: solid 1px #ddd;
}
.statement-section .statement-content table tr td.last {
  border-bottom: none;
}
@media (max-width: 736px) {
  .report-transactions-page #date_range {
    width: 100%;
  }
  .report-transactions-page .contract-filter-section {
    margin-bottom: 15px;
  }
  .report-transactions-page .transaction-type-section .section-content {
    width: 65% !important;
  }
  .report-transactions-page .transactions-section .table .thead .tr .th.rp-ref,
  .report-transactions-page .transactions-section .table .tbody .tr .td.rp-ref,
  .report-transactions-page .transactions-section .table .thead .tr .th.rp-type,
  .report-transactions-page .transactions-section .table .tbody .tr .td.rp-type,
  .report-transactions-page .transactions-section .table .thead .tr .th.rp-freelancer,
  .report-transactions-page .transactions-section .table .tbody .tr .td.rp-freelancer {
    display: none;
  }
  .report-transactions-page .transactions-section .table .thead .tr .th.rp-date,
  .report-transactions-page .transactions-section .table .tbody .tr .td.rp-date {
    width: 25% !important;
  }
  .report-transactions-page .transactions-section .table .thead .tr .th.rp-description,
  .report-transactions-page .transactions-section .table .tbody .tr .td.rp-description {
    width: 50% !important;
  }
  .report-transactions-page .transactions-section .table .thead .tr .th.rp-amount,
  .report-transactions-page .transactions-section .table .tbody .tr .td.rp-amount {
    width: 25% !important;
  }
  .report-transactions-page .statement-section {
    margin-bottom: 15px;
  }
}
.super-user-buyer-transactions .tab-pane {
  padding: 12px 20px 15px 20px;
}
.super-user-buyer-transactions .title-section {
  margin-bottom: 20px;
}
.super-user-buyer-transactions .page-breadcrumb.breadcrumb {
  padding: 8px 0px 20px;
}
.super-user-buyer-transactions span.title {
  padding: 10px 0px;
  min-height: 48px;
  float: left;
}
.super-user-buyer-transactions span.title span {
  display: none;
}
.super-user-buyer-transactions span.title span.admin-title.hide {
  display: block !important;
  font-size: 16px;
}
.super-user-buyer-transactions span.title .balance {
  padding-top: 10px;
}
.super-user-buyer-transactions .transactions-section.table-scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  border: 0px;
}
.super-user-buyer-transactions .transactions-section.table-scrollable table tr th {
  text-align: left;
}
.super-user-buyer-transactions .transactions-section.table-scrollable table tr th.text-right {
  text-align: right;
}
