/** From Metronic material design3 {{{ **/
/** }}} **/
/* Plugins */
@import '/assets/plugins/jquery.uniform/css/uniform.default.min.css';
.page-content-section .sub-header {
  font-size: 18px;
}
.page-content-section fieldset .form-group.setting {
  border-bottom: 1px solid #CCC;
  margin-left: 0px;
  margin-right: 5px;
}
.page-content-section fieldset .form-group label {
  cursor: pointer;
}
.page-content-section fieldset .form-group label.control-label {
  margin-bottom: 5px;
  padding-top: 0;
  display: block;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
}
.page-content-section #notification_settings_form div.toggle-checkbox {
  visibility: hidden;
}
.page-content-section #notification_settings_form div.checker {
  float: right;
}
.super-user-commons-notification_settings .tab-pane {
  padding: 12px 20px 15px 20px;
}
.super-user-commons-notification_settings .title-section {
  margin-bottom: 20px;
}
.super-user-commons-notification_settings .page-breadcrumb.breadcrumb {
  padding: 8px 0px 20px;
}
.super-user-commons-notification_settings span.title {
  padding: 10px 0px;
  min-height: 48px;
  font-size: 16px;
}
.super-user-commons-notification_settings span.title span {
  display: none;
}
.super-user-commons-notification_settings span.title span.admin-title.hide {
  display: block !important;
  font-size: 16px;
}
.super-user-commons-notification_settings .row.form-group.buttons,
.super-user-commons-notification_settings .actions {
  display: none;
}
