/** From Metronic material design3 {{{ **/
/** }}} **/
/* Plugins */
@import '/assets/plugins/metronic/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css';
@import '/assets/plugins/metronic/admin/pages/css/tasks.css';
.super-payments-overview .dashboard-stat .details {
  float: left;
  margin-top: 27px;
  position: static;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 110px;
  width: 100%;
  color: #FFF;
}
.super-payments-overview .dashboard-stat .row1,
.super-payments-overview .dashboard-stat .row2,
.super-payments-overview .dashboard-stat .row3,
.super-payments-overview .dashboard-stat .row4 {
  text-align: right;
  line-height: 40px;
}
.super-payments-overview .dashboard-stat .row1 .value,
.super-payments-overview .dashboard-stat .row2 .value,
.super-payments-overview .dashboard-stat .row3 .value,
.super-payments-overview .dashboard-stat .row4 .value {
  text-align: left;
  text-decoration: underline;
}
.super-payments-overview .dashboard-stat .row1.row4,
.super-payments-overview .dashboard-stat .row2.row4,
.super-payments-overview .dashboard-stat .row3.row4,
.super-payments-overview .dashboard-stat .row4.row4 {
  margin-top: 15px;
}
.super-payments-overview .dashboard-stat .visual {
  position: absolute;
}
.super-payments-overview .feeds.todos li {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #F4F6F9;
  background: transparent;
  margin: 0px;
}
.super-payments-overview .feeds.todos li:hover {
  background: #F4F6F9;
}
.super-payments-overview .feeds.todos li .col2 {
  width: 150px;
  margin-left: -150px;
}
.super-payments-overview .feeds.todos li .col1 > .cont > .cont-col2 > .desc {
  margin-left: 10px;
}
.super-payments-overview .feeds.todos li .col1 > .cont {
  margin-right: 150px;
}
