/** From Metronic material design3 {{{ **/
/** }}} **/
/* Plugins */
@import '/assets/plugins/metronic/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css';
@import '/assets/plugins/select2/select2.min.css';
@import '/assets/plugins/metronic/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css';
@import '/assets/plugins/metronic/global/plugins/bootstrap-modal/css/bootstrap-modal.css';
@import '/assets/plugins/metronic/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css';
#withdraws .totals {
  margin: 6px 0px 0px 20px;
  color: #5b9bd1;
  font-style: italic;
}
#withdraws .totals strong {
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}
#withdraws tr .withdraw-id i {
  display: none;
}
#withdraws tr.review {
  background-color: #E6BACF;
}
#withdraws tr.past .withdraw-id span {
  display: none;
}
#withdraws tr.past .withdraw-id i {
  display: inline;
}
#withdraws td.done {
  background-color: #89BEEF;
}
#withdraws td.td-status {
  position: relative;
}
#withdraws td.td-status .label {
  position: absolute;
  right: 0;
  top: 0;
}
#withdraws .text-warning {
  color: #ff5722;
}
#withdraws .text-danger {
  color: #F3565D;
}
#withdraws .tooltip {
  min-width: 160px;
}
