/** From Metronic material design3 {{{ **/
/** }}} **/
@import '/assets/plugins/metronic/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css';
@import '/assets/plugins/metronic/global/plugins/select2/select2.css';
@import '/assets/plugins/metronic/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css';
@import '/assets/plugins/metronic/global/plugins/bootstrap-modal/css/bootstrap-modal.css';
@import '/assets/plugins/metronic/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css';
@import '/assets/plugins/metronic/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css';
.ticket-todos #modal_todo .btn-file {
  cursor: pointer;
}
.ticket-todos .option-icon {
  float: left;
  margin-top: 1px;
  margin-right: 10px;
}
.ticket-todos .option-text {
  float: left;
}
.ticket-todos .select2-chosen .option-icon {
  margin-top: 4px;
}
.ticket-todos .bootstrap-maxlength {
  z-index: 11000 !important;
}
.ticket-todos .label-urgent {
  background-color: #F3565D;
}
.ticket-todos .label-normal {
  background-color: #26A69A;
}
.ticket-todos .label-low {
  background-color: #89C4F4;
}
